/* Stylesheet reset */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
*,
body,
article,
header,
input,
button {
    padding: 0;
    margin: 0;
}
ul,
ul li {
    list-style-type: none;
}
/* END: reset */





/* -------------------------------------------
                TYPOGRAPHY 
------------------------------------------- */

/* BODY */
body {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* QUESTION */
.question {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333;
    border-left: 4px solid #ccc;
    padding-left: 1.5rem;
}


/* SECTION HEADING */
.section-heading {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 5rem 0 1rem;
    color: #fff;
}






/* -------------------------------------------
                NAVIGATION 
------------------------------------------- */

/* NAVIGATION */
.navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 4rem;
    padding: 0;
    background: #333;
    border: none;
}





/* HAMBURGER */
.hamburger-icon {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    z-index: 0;
    display: inline-block;
    color: #ffffff;
    padding: 0 .8rem;
    margin: .8rem 1rem 0;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
}

.hamburger-icon div {
    width: 1.8rem;
    height: 1px;
    background: #ffffff;
    margin: .5rem 0;
}

.hamburger-icon div:nth-of-type(2) {
    width: 1rem;
}





/* CLOSE BUTTON */
.close-btn {
    position: absolute;
    right: 15px;
    display: block;
    width: 50px !important;
    text-align: center !important;
    
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -o-transition: color .2s ease;
    -ms-transition: color .2s ease;
    transition: color .2s ease;
}

.close-btn a {
    width: 50px;
}

.close-btn:hover {
    color: yellow;
}





/* SCREEN READER ONLY */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}





/* Mobile nav overlay */
/* .nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    -webkit-transition: display .3s ease-in-out;
    -moz-transition: display .3s ease-in-out;
    -o-transition: display .3s ease-in-out;
    transition: display .3s ease-in-out;
} */





/* NAVIGATION CONTAINER */
.nav-container {
    width: 85vw;
    height: 100vh;
    padding: 0 1rem;
    background: #333;
    overflow: scroll;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 1500;
    box-shadow: 0 2px 6px 1px rgba(0,0,0,.3);
    list-style-type: none;
    -webkit-transition: left .1s ease-in-out;
    -moz-transition: left .1s ease-in-out;
    -o-transition: left .1s ease-in-out;
    transition: left .1s ease-in-out;
}





/* When #nav-container is the target */
#nav-container:target,
.nav-container[aria-expanded="true"] {
    left: 0;
}





/* When nav open is triggered, open nav overlay */
/* #nav-overlay:target,
.nav-overlay[aria-expanded="true"] {
   display: block;
} */




.nav-container > li {
    margin-top: 3rem;
    line-height: 4rem;
}

.nav-container > li:nth-of-type(1) {
    margin-top: 0;
}




/* DROPDOWN NAVIGATION */
.dropdown {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}





/* NAVIGATION LIST ITEM */
.nav-item,
.dropdown .nav-item {
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
}





/* NAVIGATION LINK */
.nav-item,
.nav-item a,
.dropdown .nav-item,
.dropdown .nav-item a {
    display: inline-block;
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: #fff;
    background: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.dropdown > li.nav-item {
    border-bottom: 1px solid rgba(255,255,255, .3);
}

.dropdown > li.nav-item:first-of-type {
    border-top: 1px solid rgba(255,255,255, .3);
}

.dropdown .nav-item a {
    text-indent: 2rem;
}





/* NAVIGATION LINK HOVER */
.nav-item a:hover {
    color: yellow;
    display: block;
    width: 100%;
    height: 100%;
}





/* MOBILE NAVIGATION TOP SECTION */
.main-nav-top-section {
    height: 4rem;
    padding: 1.5rem;
    padding-left: 0;
    display: flex;
    justify-content: space-between; 
}





/* 
//
//
// Tablet and small desktop media query.
// Navigation styling.
//
//
*/

@media screen and (min-width: 768px) {

    /* HAMBURGER */
    .hamburger-icon {
        display: none;
    }


    /* CLOSE BUTTON */
    .close-btn {
        font-size: 0;
        display: none;
        height: 1px;
        width: 1px;
    }


    /* NAVIGATION CONTAINER */
    .nav-container {
        left: 0;
        height: auto;
        width: 100vw;
        overflow: unset;
        box-shadow: none;
        display: flex;
        flex-direction: row;
    }

    /* NAVIGATION DROP-DOWN */
    .dropdown {
        display: none;
        max-height: 0;
        padding: 0;
        margin: 0;
        background: rgba(39,39,39,.9);
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
    }

    .dropdown .nav-item,
    .dropdown .nav-item a {
        width: 100%;
        text-indent: 0;
        padding: 1rem;
        text-align: center;
        line-height: 0;
    }

    .nav-item:hover .dropdown {
        display: block;
        max-height: 50rem;
        background: rgb(39,39,39);
    }


    /* NAVIGATION LIST ITEM */
    .nav-item,
    .nav-item a {
        height: 5rem;
        border: none;
        text-align: center;
        background: none;
        -webkit-transition: background .2s ease-in-out;
        -moz-transition: background .2s ease-in-out;
        -o-transition: background .2s ease-in-out;
        -ms-transition: background .2s ease-in-out;
        transition: background .2s ease-in-out;
    }

    .is_selected {
        border-bottom: 4px solid rgba(255,255,255,.5);
    }   

    /* MOBILE NAVIGATION TOP SECTION */
    .main-nav-top-section {
        display: block;
        height: 5rem;
        width: 150px;
        margin: 0;
        padding: 0;
    }

    /* NAVIGATION LOGO */
    .main-nav-top-section img {
        position: absolute;
        left: 0;
    }


    /* NAVIGATION HOVER STYLES */
    .main-nav-top-section:hover {
        cursor: pointer;
    }

    .nav-item:hover {
        background: rgba(255,255,255,.1);
    }
}




/* -------------------------------------------
                STRUCTURE 
------------------------------------------- */

/* WELCOME MESSAGE */
.welcome-message {
    width: 100%;
    height: auto;
    padding: 2rem;
    margin: 6rem auto 2rem;
    text-align: center;
}





/* MAIN CONTENT CONTAINER */
.content-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
}





/* INTRODUCTION SECTION */
.intro-text {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 0;
    margin: 2rem auto;
    text-align: center;
    background: #fafafa;
}




/* UTILITY CLASS - BORDER BOTTOM */
.end-section:after {
    content: "";
    width: 25%;
    margin-top: 1rem;
    display: block;
    border-top: 2px solid rgba(255,0,0,.8);
}





/*  INTRODUCTION IMAGE  */
.welcome-img-container {
    display: none;
}

.welcome-img-container > img {
    height: auto;
    width: 100%;
}





/* BLOG CONTAINER */
.blog-container {
    width: 100vw;
    height: auto;
    text-align: center;
    background: #444;
}





/* RECENT BLOG CONTAINER */
.recent-blog-container {
    width: 100vw;
    height: 270px;
    padding: 1rem 0;
    margin: 2rem 0;
    text-align: center;
    overflow-x: scroll;
}





/* CAROUSEL CONTAINER */
.carousel-container {
    width: 1080px;
    height: 250px;
}




/* CAROUSEL CONTAINER LINK */
.carousel-container a {
    display: block;
    text-decoration: none;
    color: #fff;
}





/* BLOG CARD */
.blog-card {
    width: 250px;
    height: 250px;
    display: block;
    float: left;
    padding: 1rem;
    text-align: center;
    margin: 0 1rem;
    border: 1px solid #fff;
}





/* BLOG CARD HEADING */
.blog-card h1 {
    font-size: 2.5rem;
}





/* READ MORE LINK */
.read-more-link {
    display: inline-block;
    margin-left: 10px;
}
.read-more-link a {
    text-decoration: underline;
    font-style: italic;
}





/* 
//
//
// Tablet and small desktop media query.
// Structure styling.
//
//
*/

@media screen and (min-width: 768px) {

    /* WELCOME MESSAGE */
    .welcome-message {
        width: 40%;
        margin-bottom: 0;
        margin-left: 0;
        text-align: left;
        background: rgba(255,0,0,.8);
        color: #fff;
    }





    /*  INTRODUCTION IMAGE  */
    .welcome-img-container {
        display: block;
        width: 100%;
        height: 80vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        overflow: hidden;
    }





    /* MAIN CONTENT CONTAINER */
    .content-container {
        flex-direction: row;
        justify-content: center;
        margin-top: 10rem;
        padding: 0;
    }





    /* INTRODUCTION SECTION */
    .intro-text {
        width: 50%;
        height: auto;
        flex-direction: column;
        text-align: left;
        background: #fff;
        padding: 4rem;
        margin: 0;
        margin-top: -5rem;
    }





    /* BLOG CONTAINER */
    .blog-container {
        width: 250px;
        padding: 1rem;
        margin: 0;
        margin-top: -10rem;
        margin-left: 0;
    }





    /* RECENT BLOG CONTAINER */
    .recent-blog-container {
        width: 200px;
        height: 100%;
        margin: auto;
        border: none;
    }





    /* CAROUSEL CONTAINER */
    .carousel-container {
        width: 200px;
        height: auto;
    }




    .carousel-container a:hover {
        text-decoration: underline;
    }





    .carousel-container:last-child {
        border-bottom: 1px solid #fff;
    }





    /* BLOG CARD */
    .blog-card {
        width: 100%;
        height: auto;
        margin: 1rem 0;
        float: none;
        text-align: left;
        padding: 2rem 0;
        border: none;
        border-top: 1px solid #fff;
    }

}





/* -------------------------------------------
                FOOTER 
------------------------------------------- */

/* FOOTER CONTAINER */
.footer-container {
    margin: 0;
    padding: 2rem 0 1rem;
    width: 100vw;
    border-top: 1px solid rgba(68,68,68, .1);
    background: #fafafa;
    text-align: center;
}





/* FOOTER PARAGRAPH STYLING */
footer p{
    font-weight: 100;
    color: #444444;
    line-height: 5rem;
}





/* FOOTER HORIZONTAL LINE STYLING */
.footer-container hr {
    margin-top: 0;
    border-top: .2px solid rgba(0,0,0, .3);
}





/* 
//
//
// Tablet and small desktop media query.
// Footer styling.
//
//
*/

@media screen and (min-width: 768px) {

    
}










/* 
//
//
//
//
// ..................................................
//              BLOG TEMPLATE STYLES.
// ..................................................
//
//
//
//
*/




/* 
//
//
// Blog template container styling.
//
//
*/

.template-container {
    position: relative;
    display: flex;
    flex-direction: column;
}





/* 
//
//
// Tablet and small desktop media query.
// Blog header styling.
//
//
*/

@media screen and (min-width: 768px) {
    .template-container {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}





/* 
//
//
// Blog header styling.
//
//
*/

/* BLOG HEADER CONTAINER */
.blog-header {
    width: 100%;
    margin: 5rem  0 2rem;
    padding: 0;
    overflow: hidden;
    position: relative;
}





/* BLOG HEADER IMAGE */
.blog-header > img {
    width: 100%;
    height: auto;
}





/* BLOG HEADER TITLE */
.blog-title {
    font-size: 2.5rem;
    padding: 1rem 2rem;
    text-align: center;
    background: rgba(105, 105, 240, 0.8);
    position: absolute;
    right: 1rem;
    left: 1rem;
    bottom: 0;
    color: #fff;
}





/* 
//
//
// Tablet and small desktop media query.
// Blog header styling.
//
//
*/

@media screen and (min-width: 768px) {

    /* BLOG HEADER CONTAINER */
    .blog-header {
        display: flex;
        align-items: flex-end;
        width: 25%;
        height: 550px;
    }





    /* BLOG HEADER IMAGE */
    .blog-header > img {
        height: 60%;
        width: auto;
    }





    /* BLOG HEADER TITLE */
    .blog-title {
        transform: rotate(-90deg);
        bottom: 50%;
    }
}





/* 
//
//
// Blog information styling.
//
//
*/

/* BLOG INFORMATION CONTAINER */
.blog-info-container {
    display: block;
    float: right;
    width: 75%;
    background: #fafafa;
    padding: 1rem;
    margin: 2rem 1rem 0 0;
}





/* BLOG INFORMATION UL */
.blog-info-container > ul {
    margin: 0 0 1rem; 
    padding: 0;
}





/* BLOG INFORMATION LIST ITEM */
.blog-info-item {
    margin: 0;
    font-size: 2rem;
}






/* 
//
//
// Tablet and small desktop media query.
// Blog information styling.
//
//
*/

@media screen and (min-width: 768px) {

    /* BLOG INFORMATION CONTAINER */
    .blog-info-container {
        background: rgba(105, 105, 240, 0.8);
        position: absolute;
        top: 0;
        right: 35%;
        width: 15rem;
        height: inherit;
        padding: 15rem 1rem 20rem;
        margin: 0;
    }
}





/* 
//
//
// Blog content styling.
//
//
*/

/* BLOG CONTENT CONTAINER */
.blog-content-container {
    width: 100%;
    padding: 1rem;
    margin: 2rem auto;
    clear: both;
}





/* BLOG ARTICLE */
.blog-article {
    padding: 2rem;
    margin: 1rem auto;
    background: #f7f7f7;
}





/* BLOG HEADER */
.blog-post-header {
    margin: 0;
}




/* BLOG POST HEADING */
.blog-post-header h1 {
    font-size: 3rem;
}





/* BLOG TEXT */
.blog-text {
    margin-bottom: 1rem;
}





/* BLOG ARTICLE IMAGE CONTAINER */
.blog-article-img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}





/* BLOG IMAGE CONTAINER */
.blog-img-container {
    display: block;
    width: 100%;
    margin-top: 1rem;
    overflow: hidden;
}





/* BLOG CONTENT IMAGE */
.blog-img-container > img {
    width: 100%;
    object-fit: scale-down;
}





/* 
//
//
// Tablet and small desktop media query.
// Blog content styling.
//
//
*/

@media screen and (min-width: 768px) {

    /* BLOG CONTENT CONTAINER */
    .blog-content-container {
        position: relative;
        z-index: 100;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 2rem;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        width: 70%;
        margin-top: 25rem;
        margin-right: 0;
    }

    .blog-content-container ~ .blog-content-container {
        margin-top: 5rem;
    }




    /* BLOG ARTICLE */
    .blog-article {
        display: inline-block;
        width: 100%;
        margin: 1rem 0;
        background: none;
    }





    /* BLOG HEADER */
    .blog-post-header {

    }




    /* BLOG POST HEADING */
    .blog-post-header h1 {

    }




    /* BLOG TEXT */
    .blog-text {
        
    }





    /* BLOG IMAGE CONTAINER */
    .blog-article-img-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }




    /* BLOG CONTENT IMAGE */
    .blog-img-container {
        width: 49%;
    }
}