/* Stylesheet reset */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
*,
body,
article,
header,
input,
button {
    padding: 0;
    margin: 0;
}
ul,
ul li {
    list-style-type: none;
}
/* END: reset */

/* Stylesheet imports */

/* END: Stylesheet imports */

/* Typography */
html {
    font-size: 16px;
}
body {
    font-family: "DomaineText", Georgia, serif;
    font-size: 1rem;
    line-height: 1.8rem;
    text-align: left;
    color: #444;
}
nav {
    font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    color: #000;
}
h1 {
    font-family: tablet-gothic-compressed, sans-serif;
    font-style: normal;
    margin-bottom: 5rem;
}
.container__intro h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 1em;
    margin-bottom: 0;
}
.container__intro h1:after {
    content:'...';
    word-wrap: none;
    white-space: nowrap;
}
p {
    margin: 1rem 0;
}
.container__intro p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-family: tablet-gothic, sans-serif;
    font-style: italic;
    font-weight: 200;
}
.blog__header {
    font-size: .8rem;
    text-align: left;
    font-style: italic;
}
.blog__footer--container {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: .8rem;
}
/* END: Typography */

/* Navigation styles */
.hamburger-icon {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    z-index: 0;
    display: inline-block;
    color: #ffffff;
    border-radius: .5rem;
    padding: 0 .8rem;
    margin: .5rem 1rem;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    /* border: 1px solid #fff; */
}
.hamburger-icon div {
    width: 1.5rem;
    height: .15rem;
    background: #ffffff;
    margin: .3rem 0;
}
.hamburger-icon div:nth-of-type(2) {
    width: 1rem;
}
/* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(39,39,39,1);
    height: 3rem;
}
.nav__close-icon {
    display: block;
    font-family: Garamond, "Apple Garamond";
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    z-index: 100;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -o-transition: color .2s ease;
    -ms-transition: color .2s ease;
    transition: color .2s ease;
}
.nav__close-icon:hover {
    color: yellow;
}
.nav__item-container {
    position: absolute;
    top: 0;
    z-index: 1000;
    background: rgba(39,39,39,1);
    width: 100vw;
    height: 100vh;
    left: -100vw;
    -webkit-transition: left .2s ease;
    -moz-transition: left .2s ease;
    -o-transition: left .2s ease;
    -ms-transition: left .2s ease;
    transition: left .2s ease;
}
.nav__item-container:target,
.nav__item-container[aria-expanded="true"] {
    left: 0;
    outline: none;
}
.nav__item-container--item {
    border-bottom: 1px solid rgba(255,255,255,.5);
    padding: 1rem;
}
.nav__item-container--item,
.nav__item-container--item--link {
   color: #ffffff;
   text-decoration: none;
   display: block;
   width: 100%;
}
.reflection a,
.technical a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 100%;
}
.nav__item-container__dropdown--reflection,
.nav__item-container__dropdown--technical {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .2s;
    -o-transition: max-height .2s;
    transition: max-height .2s;
}
.nav__item-container__dropdown--item {
    text-indent: 2rem;
}
.nav__item-container--item:hover,
.nav__item-container--item--link:hover {
    cursor: pointer;
}
#reflection:target .nav__item-container__dropdown--reflection,
#reflection[aria-expanded="true"] .nav__item-container__dropdown--reflection,
#technical:target .nav__item-container__dropdown--technical,
#technical[aria-expanded="true"] .nav__item-container__dropdown--technical {
    max-height: 10rem;
}


/* Desktop */
@media screen and (min-width: 48rem) {
    /* Desktop navigation */
    .nav {
        background: rgba(39,39,39,.6);
    }
    .hamburger-icon {
        display: none;
    }
    .nav__close-icon {
        display: none;
    }
    .nav__item-container {
        left: 0;
        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        height: 3rem;
    }
    .nav__item-container--item {
        width: 100%;
        padding: 1rem 0;
        transition: background .2s ease-in;
    }
    .nav__item-container--item,
    .nav__item-container--item--link {
        display: block;
        box-sizing: border-box;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        width: 33%;
    }
    .nav__item-container--item--link {
        width: 100%;
    }
    .nav__item-container--item:hover {
        background: rgba(0,0,0,.2);
    }
    .is_selected {
        border-bottom: 4px solid rgba(255,255,255,.5);
    }
    .nav__item-container__dropdown {
        display: none;
        max-height: 0;
        background: rgba(39,39,39,.9);
        transition: display .2s ease;
        -webkit-transition: display .2s ease;
        -moz-transition: display .2s ease;
    }
    .nav__item-container__dropdown--item {
        width: 100%;
        text-indent: 0;
        padding: 1rem;
        text-align: center;
    }
    .nav__item-container__dropdown--item:hover {
        background: rgb(39,39,39);
    }
    .nav__item-container--item:hover .nav__item-container__dropdown {
        display: block;
        max-height: 10rem;
    }
}
/* END: Navigation */


/* Base styles */
.container {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15% 10%;
    width: 100%;
    margin: 5rem 0;
    padding: 0;
}
.container__intro {
    color: #fff;
    grid-column: 1 / -1;
    grid-row: 1;
    background: #c00001;
    padding: 2rem 1rem;
}
.blog {
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 3rem 0;
}
.blog__header {
    width: 100%;
}
.blog__text {
    padding-bottom: 1rem;
    border-bottom: 2px solid #c00001;
}

/* Footer */
.blog__footer {
    background: #fefefe;
    width: 100%;
    border-top: 1px solid #eaeaea;
}
.blog__footer--container {
    box-sizing: border-box;
    padding: .7rem 0;
    width: 100%;
    margin: 0 auto;
}

/* Tablet */
@media screen and (max-width: 48rem) {
    
}

/* Desktop */
@media screen and (min-width: 48rem) {

    .container {
        
    }
    .container__intro {
        grid-column: 1 / span 4;
    }
    .container__intro h1 {
        font-size: 5rem;
    }
    .blog {
        grid-column: 2 / -2;
        flex-direction: row;
    }
    .blog__header {
        width: 40%;
        padding: 0 1rem;
    }
    .blog__text {
        width: 60%;
        border-bottom: none;
        border-left: 4px solid #c00001;
        padding: 0 2rem;
    }
}

/* Large Desktop */
@media screen and (min-width: 61.75rem) {
    .container {
        
    }
    .blog__header {
        width: 25%;
    }
}
/* END: Base styles */