/* Stylesheet reset */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
*,
body,
article,
header,
input,
button {
    padding: 0;
    margin: 0;
}
ul,
ul li {
    list-style-type: none;
}
/* END: reset */





/* -------------------------------------------
                TYPOGRAPHY 
------------------------------------------- */

/* BODY */
body {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* SECTION HEADING */
.section-heading {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 5rem 0 1rem;
}






/* -------------------------------------------
                NAVIGATION 
------------------------------------------- */

/* NAVIGATION */
.navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    padding: 0;
    background: #333;
}


/* HAMBURGER */
.hamburger-icon {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    z-index: 0;
    display: inline-block;
    color: #ffffff;
    padding: 0 .8rem;
    margin: .8rem 1rem 0;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
}

.hamburger-icon div {
    width: 1.2rem;
    height: 1px;
    background: #ffffff;
    margin: .3rem 0;
}

.hamburger-icon div:nth-of-type(2) {
    width: .6rem;
}



/* CLOSE BUTTON */
.close-btn {
    display: block;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -o-transition: color .2s ease;
    -ms-transition: color .2s ease;
    transition: color .2s ease;
}

.close-btn:hover {
    color: yellow;
}


/* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}


/* Mobile nav overlay */
/* .nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    -webkit-transition: display .3s ease-in-out;
    -moz-transition: display .3s ease-in-out;
    -o-transition: display .3s ease-in-out;
    transition: display .3s ease-in-out;
} */


.nav-container {
    width: 65vw;
    height: 100vh;
    background: #333;
    position: fixed;
    top: 0;
    left: -70vw;
    box-shadow: 0 2px 6px 1px rgba(0,0,0,.3);
    list-style-type: none;
    -webkit-transition: left .3s ease-in-out;
    -moz-transition: left .3s ease-in-out;
    -o-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
}


/* When #nav-container is the target */
#nav-container:target,
.nav-container[aria-expanded="true"] {
    left: 0;
}


/* When nav open is triggered, open nav overlay */
/* #nav-overlay:target,
.nav-overlay[aria-expanded="true"] {
   display: block;
} */

.nav-item {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(255,255,255, .3);
}

.nav-item a {
    display: block;
    width: 100%;
    line-height: 5rem;
    height: 5rem;
    text-decoration: none;
}

.main-nav-top-section {
    height: 8rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between; 
}



/* 
//
//
// Tablet and small desktop media query. 
//
//
*/

@media screen and (min-width: 768px) {

    .hamburger-icon {
        display: none;
    }

    .close-btn {
        font-size: 0;
    }

    .nav-container {
        left: 0;
        height: auto;
        width: 100vw;
        box-shadow: none;
        display: flex;
        flex-direction: row;
    }

    .nav-item {
        height: 5rem;
    }

    .main-nav-top-section {
        display: block;
        height: 5rem;
        width: 150px;
        margin: 0;
        padding: 0;
    }

    ..main-nav-top-section:hover {
        cursor: pointer;
    }


    .nav-item:hover {
        background: rgba(255,255,255,.02);
    }
}




/* -------------------------------------------
                STRUCTURE 
------------------------------------------- */

/* WELCOME MESSAGE */
.welcome-message {
    width: 100%;
    height: auto;
    padding: 2rem;
    margin: 6rem auto 2rem;
    text-align: center;
}





/* INTRODUCTION SECTION */
.intro-text {
    padding: 2rem 1rem 0;
    margin: 2rem auto;
    text-align: center;
    background: #fafafa;
    display: flex;
    justify-content: space-around;
}





/*  INTRODUCTION IMAGE  */
.welcome-img-container {
    display: none;
}






/* RECENT BLOG CONTAINER */
.recent-blog-container {
    width: 100vw;
    height: 270px;
    padding: 1rem 0;
    margin: 2rem 0;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
    text-align: center;
    overflow-x: scroll;
}

.carousel-container {
    width: 1080px;
    height: 250px;
}

.blog-card {
    width: 250px;
    height: 250px;
    display: block;
    float: left;
    padding: 1rem;
    text-align: center;
    background: #eaeaea;
    margin: 0 1rem;
}

.blog-card h1 {
    font-size: 3rem;
}








/* -------------------------------------------
                FOOTER 
------------------------------------------- */

.footer-container {
    margin: 0;
    padding: 2rem 0 1rem;
    width: 100vw;
    background: #333;
    color: #fff;
    text-align: center;
}


.footer-container span {
    display: block;
    margin-top: 4rem;
}


.footer-nav {
    padding: 0;
    margin: 2rem auto;
    padding-bottom: 0;
}


.footer-nav .nav-item:nth-of-type(1) {
    margin-top: 1rem;
    border-top: 1px solid rgba(255,255,255, .3);
} 


.info-list {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}


.info-list li {
    padding: 0;
    margin: 0;
}


.info-list a {
    border-top: 1px solid rgba(255,255,255, .3);
}


footer p{
    font-weight: 100;
    color: #fff;
}


footer a {
    display: block;
    width: 100%;
    line-height: 5rem;
    height: 5rem;
    margin: 0;
    padding: 0;
    background: none;
    text-decoration: none;
    -webkit-transition: color .2s ease-in-out, background .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, background .2s ease-in-out;
    -o-transition: color .2s ease-in-out, background .2s ease-in-out;
    -ms-transition: color .2s ease-in-out, background .2s ease-in-out;
    transition: color .2s ease-in-out, background .2s ease-in-out;
}

footer a:hover {
    background: rgba(255,255,255,.02);
    color: #fff;
}


footer hr {
    margin-top: 0;
    border-top: .2px solid rgba(255,255,255, .3);
}